{% extends 'layout.html' %}
{% block content %}
<div class="form-container">
    <h1>Create an Account</h1>
    <form action="/signup.html" method="POST" class="box">
        <div class="input__wrapper">
            <input type="text" name="username" placeholder="Username" class="input__field" required>
        </div>            
        <div class="input__wrapper">
            <input type="password" name="password" placeholder="Password" class="input__field" required>
        </div>
        <div class="input__wrapper">
            <input type="date" name="dob" placeholder="Date of Birth" class="input__field" required>
        </div>
        <div class="input__wrapper">
            <button type="submit" class="btn">Create Account</button>
        </div>
        <div class="form-footer">
            <p>Already have an account? <a href="?url=/">Log in</a></p>
        </div>
    </form>
</div>
{% endblock %}